<!--stylesheet-->
<%#= provide :head do %>
  <%#= stylesheet_link_tag "style/listings/show", :media => "all" %>
<%# end %>

<!--content-->
<section id="listing-show">
    <div class="container">
        <%= render partial: '/listings/list' %>
    </div>
</section>