<div id="jumbotron">
    <%= form_tag(search_listings_path, :method => "get", id: "search-form") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search PairBnB" %>
        <%= submit_tag "Search" %>
    <% end %>
</div>